 .section1 {
     background-color: #D9D9D9;
padding-left: 150px;
}
.tir {
    font-size: 40px;
    color: blue;
    font-style: bold;
    margin-top: -100px;
}
.garb {
    font-size: 100px;
    color: white;
}
.tire {
    text-align: justify;
    width: 530px;
}
.section2 {
padding-left: 150px;
padding-right: 250px;
}
.tri{
    padding-left: 100px;
    text-align: justify;
    width: 339px;
}
.trys{
    font-size: 30px;
    color: blue;
    padding-left: 175px;
}
.tryse{
    padding-left: 650px;
    text-align: justify;
    width: 335px;
}
.trysi{
    font-size: 30px;
    color: blue;
    padding-left: 800px;
}
.d1{
     background-color: #D9D9D9;
     margin-right: 500px;
     padding-top: 25px;
     padding-left: 20px;

}
.dire {
    background-color: blue;
    width: 150px;
    height: 200px;
    margin-left: 983px;
    margin-top: -492.5px;
}
.d2 {
    text-align: right;
    margin-top: -180px;
font-size: 20px;
margin-right: 125px;
}
.rit{
    text-align: justify;
    width: 680px;
    line-height: 25px;
}
.gb{
    font-size: 60px;
    color: blue;
}
.gt{
    text-align: justify;
    width: 335px;
    padding-left: 680px;
}
.gg{
    color:white;
    text-align: center;
}
.gr{
    text-align: justify;
    width:335px;
    padding-left:50px ;
}
.button {
    background-color: blue;
    width: 200px;
}
.section4{
    background-color:#D9D9D9 ;
    height: 450px;
}
.gj{
    color: blue;
    text-align: left;
    padding-left: 430px;
    font-style: bold;
    font-size: 40px;
    line-height: 40px;
}
.jj{
    text-align: center;
    font-size: 15px;
}
.section6{
    background-color: #D9D9D9;
    padding-left: 250px;
    padding-right: 250px;
}
.s1{
    color: white;
    font-size: 120px;
    text-align: center;
}
.s3{
color: blue;
font-size: 35px;
}
.s4{
text-align: justify;
width: 350px;
font-size: 18px;
}
.s5{
    text-align: justify;
    width: 335px;  
    margin-left: 600px;
    margin-top: -210px;
    font-size: 18px;
}
.trait{
 background-color: white;
height: 3px;
}
.c1{
    color: blue;
    font-size: 65px;
    text-align: center;
}
.section5{
    padding-left: 250px;
    padding-right: 250px;
}
.b1{
   border-radius:50%; 
   width: 140px; height: 140px;
   margin-left: 50px;
}
.t1{
    padding-top:30px;
    padding-right: 270px;
}
.c2{
    padding-left: 500px;
    margin-top: -150px;
}
.b11{
    border-radius: 50%; 
    width: 140px; height: 140px;
    margin-right: 275px;
}
.section5{
    padding-left: 250px;
    padding-right: 250px;
}
.section7{
    padding-left: 250px;
    padding-right: 250px;
}
.footer{
    background-color: black;
    height: 200px;
}
.foot{
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 50px;
}
.ter{
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 70px;
}
.otr{
    color: blue;
    font-size: 60px;
}
.moi{
    height: 500px;
    width: 420px;
     background-color:#D9D9D9;
     margin-left: 600px;
     margin-top: -300px;
}
.button1 {
    background-color: blue;
    width: 180px;
    border-color: blue;
    border-radius: 15px;
    height: 60px;
}
.clas{
    color: white;
    font-size: 20px;
}
.sd {
    border-radius: 50%; 
    width: 140px; height: 140px;
    margin-left: 745px;
    margin-bottom: -240px;
}
.te{
    margin-left: 675px;
    margin-top: -325px;
}
.v1{
background-color: black;
height: 4px;
width: 280px;
text-align: center;
}
.v2{
text-align: center;
}
.v3{
    text-align: center;
}
.v4{
    text-align: center;
    color: blue;
    font-size: 40px;
}